<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>


<body>
    <%- include("./partials/header")%>

    <main>
        <div class= "about-container">
            <div class= "about-box">
                <h3>30 de Marzo de 2021: nace The Camping Store</h3>
                 <p> Una empresa argentina de artículos de camping creada por amigos para los amantes de la aventura. Somos Hora, Axi, Seba y Sole!</p>
                 <p> En The Camping Store queremos acompañarte en todos tus momentos de esparcimiento, ya sea de camping en familia, disfrutando de aquel deporte que tan bien te hace, de un atardecer en la playa con amigos o de una escalada en la montaña. </p>
                 <p> Ofrecemos una gran variedad de productos nacionales e importados de alta calidad.</p>
            </div>
            
            <div class= "about-box">
                <img class= "img-about" src='./img/about-us.jpg' alt='about-us'>
            </div>
        </div>        
        
    </main>

    <%- include("./partials/footer")%>
</body>

</html>