<!DOCTYPE html>
<html lang="en">
 

    <%- include("./partials/head")%>

    <!-- INICIO HEADER ACTUALIZAR!!!!!!!!!!!!!!!!!!!!!!!!!!-->

    <%- include("./partials/header")%>


<!-- FIN HEADER ACTUALIZAR!!!!!!!!!!!!!!!!!!!!!!!!!!-->


    <main class="mainCarrito">
            <H2>CARRITO DE COMPRAS</H2> <!--ENCABEZADO-->
        
        <section class="detalledecompra "> <!-- SECCION CON LOS DETALLES DE LOS ARTICULOS COMPRADOS-->
                        
            <article>  <!--DETALLE DE COMPRA--> 
                <div class="cartProduct"> <!-- CONTIENE IMAGEN, NOMBRE DE PRODUCTO Y DESCRIPCION-->
                    <div> <!--IMAGEN-->
                    <img class="imgProd" src="./img/patagonia_down_sweater_boys_imagen1.jpg"> 
                    </div>
    <!--NOMBRE DEL PRODUCTO-->
    <div class="producto"> 
        ALTUS VINSON CARPA
    </div>    



<div class="detalleCompra"> <!--DETALLE DE LA COMPRA DEL PRODUCTO (CANTIDAD, PRECIO, TOTAL)-->
    <div> <!--CANTIDAD-->
        <H6 class="nombreEtiqueta">CANT</H6> 
        <span>
            <select name="cantidad" class="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </span>
    </div>

    <div> <!-- PRECIO -->
        <H6 class="nombreEtiqueta">PRECIO</H6>
        <span>$ 39.999,99</span>
    </div>
    
    <div> <!--TOTAL-->
        <H6 class="nombreEtiqueta">TOTAL</H6>
        <span>$ 39.999,99</span>
    </div>
    
    <div class="icono" > <!--ELIMINAR-->
           <a href="/"> <H6 class="nombreEtiqueta">ELIMINAR</H6>
            <i class="far fa-trash-alt"></i>
        </a>
    </div>
    
    
</div>    
</div>    

            </article>


            <!-- OTRO ARTICULO DE EJEMPLO, MISMA PROGRAMACION-->

            <article class="cartArticle">  <!--DETALLE DE COMPRA--> 
                <div class="cartProduct"> <!-- CONTIENE IMAGEN, NOMBRE DE PRODUCTO Y DESCRIPCION-->
                    <div> <!--IMAGEN-->
                    <img class="imgProd" src="./img/carpa 1.jpg"> 
                    </div>

                    <!--NOMBRE DEL PRODUCTO-->
                        <div class="producto"> 
                            ALTUS VINSON CARPA
                        </div>    


                
                    <div class="detalleCompra"> <!--DETALLE DE LA COMPRA DEL PRODUCTO (CANTIDAD, PRECIO, TOTAL)-->
                        <div> <!--CANTIDAD-->
                            <H6 class="nombreEtiqueta">CANT</H6> 
                            <span>
                                <select name="cantidad" class="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </span>
                        </div>

                        <div> <!-- PRECIO -->
                            <H6 class="nombreEtiqueta">PRECIO</H6>
                            <span>$ 400.000,00</span>
                        </div>
                        
                        <div> <!--TOTAL-->
                            <H6 class="nombreEtiqueta">TOTAL</H6>
                            <span>$ 400.000,00</span>
                        </div>
                        
                        <div class="icono" > <!--ELIMINAR-->
                               <a href="/"> <H6 class="nombreEtiqueta">ELIMINAR</H6>
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                        
                        
                    </div>    
                    </div>    
                

            </article>

        </section>     


        <section class="datosEntrega">  <!-- SECCION DE DATOS DE ENTREGA-->    

            
                          
                <H3 class="etiquetaSecciones">ENTREGA</H3>
                <div class="textoEntrega">Selecciona tu opción de retiro o entrega tu producto: </div>
                 
                
                <form action="/" method="GET" class= formularioEntrega>
                    <div class="contenedorFormEntrega">
                        <input class="botonFormularioEntrega" type="radio" name="metodo-entrega" value="envio" id="envio">
                        <label for="envio">ENVIO</label>
                        <input class="botonFormularioEntrega" type="radio" name="metodo-entrega" value="sucursal" id="sucursal">
                        <label for="sucursal">SUCURSAL </label>
                    </div>

                    
                </form>
 
            
                <form action="/" method="GET" class= "formularioEntregaDetalle">

                    <div class="contenedor-opciones">
                        <div class="opcion-entrega">
                            <p>Ingresa tu código postal:</p>
                            <input type="text" name="CP" class="seleccionado">
                            <span class= "errorValidacion">Debe ingresar un valor</span>
                        </div>

                        <div class="opcion-entrega">
                            <p>Selecciona la sucursal donde retirarás tu compra:</p>
                            <select class="seleccionado" name="sucursal">
                                <option value="Caballito">Caballito</option>
                                <option value="Palermo">Palermo</option>
                            </select>
                        </div>
                    
                        <div>
                            <button type="submit" class="boton">CALCULAR</button>
                        </div> 
                        
                    </div>
  
                    



                </form>

        </section>

        <section class="resumenDeCompra"> <!-- SECCION DE RESUMEN DE LA COMPRA-->    
            
            <H3 class="etiquetaSecciones">RESUMEN DE COMPRA</H3>
           

                    <article class= "resumen-Compra">

                    <div  class="etiquetaResumenItem"> <!--SUBTOTAL-->
                        <span>SUBTOTAL:</span>
                        <span>$ 439.999,99</span>
                    </div>

                    <div  class="etiquetaResumenItem"> <!-- COSTO DE ENTREGA -->
                        <span>COSTO DE ENVIO</span>
                        <span>$ 0,00</span>
                    </div>

                    <div  class="etiquetaResumenTotal"> <!--TOTAL -->
                        <span>TOTAL</span>
                        <span>$ 439.999,99</span>
                    </div>
            
                   
        

                <form action="/" method="GET" class= "formulariofinalizacionCompra">

                    <div class="contenedor-final">
                                          
                        <div>
                            <button type="submit" class="boton">FINALIZAR COMPRA</button>
                        </div> 

                        <div>
                            <button type="submit" class="boton">ELEGIR MAS PRODUCTOS</button>
                        </div> 
                        
                    </div>   
                
                </form>

            </article> 


            </section>
          

    </main>


<!-- INICIO FOOTER ACTUALIZAR!!!!!!!!!!!!!!!!!!!!!!!!!!-->

<%- include("./partials/footer")%>

<!-- FIN FOOTER ACTUALIZAR!!!!!!!!!!!!!!!!!!!!!!!!!!-->


</body>



