
    <footer>
        <section>
            <div class="nosotros">
                <p>¿Quiénes somos?</p>
                <nav>
                    <ul>
                        <li><a href="/about">Nosotros</a></li>
                        <li><a href="#">Envíos y cambios</a></li>
                        <li><a href="#">Servicio al cliente</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <section>
            <div class="redes">
                <p>Seguinos en:</p>
                <div class="iconos-redes">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </section>

        <section>
            <div class="contacto">
                <p>Contacto</p>
                <div class="whatsapp"><i class="fab fa-whatsapp"></i> 011-1500000000</div>
                <div class="email"><i class="far fa-envelope"></i> ecommerce@gmail.com</div>
            </div>
        </section>
    </footer>